@import './variables.scss';

*,
::after ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(#{--background-default});
  color: var(#{--textColor-default});
}

button {
  color: var(#{--textColor-default});
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ol {
  padding: 0;
}

.header {
  font-size: 48px;
  font-weight: 700;
}

.routes {
  display: flex;
  justify-content: center;
}

.newWordButton {
  flex: 0 0 auto;
}

hr {
  width: 500px;
}

.wrap {
  height: 100vh;
  margin: 0px auto;
  max-width: 1400px;
  text-align: center;
}
.question {
  margin-top: 100px;
  font-size: 48px;
  margin-bottom: 200px;
}

.showAnswer {
  width: 200px;
  height: 100px;
  font-size: 30px;
  border-radius: 20px;
  border-style: solid;
  cursor: pointer;
  margin: 0 auto;
  line-height: 100px;
}

.answer {
  width: 800px;
  height: 100px;
  font-size: 30px;
  margin: 10px auto;
  text-align: center;
  line-height: 100px;
}

.next {
  margin-top: 80px;
  height: 200px;
  width: 420px;
  background-color: var(#{--buttonToNext-default});
  border-radius: 40px;
  cursor: pointer;
  border-style: none;
  font-size: 100px;
  line-height: 100px;

  &:hover {
    font-size: 120px;
    line-height: 140px;
  }
}

.background-modalWindow {
  margin: 0;
  position: absolute;
}

.modal {
  background-color: rgba(0, 0, 0, 0.479);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.15s linear;
}

.modal-dialog {
  transform: none;
  max-width: 500px;
  margin: 1.75rem auto;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  background-color: transparent;
  border: 0;
  appearance: none;

  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  cursor: pointer;
}

form {
  margin-top: 20px;
}

label {
  position: absolute;
  left: 60px;
}

input {
  margin-left: 50px;
}

.input-position {
  margin-top: 5px;
}

.vocab-id {
  width: 30px;
}

.vocab-eng {
  width: 250px;
  text-align: left;
  padding-left: 30px;
  padding-right: 10px;
}

.vocab-translate {
  width: 250px;
  text-align: left;
  padding-left: 30px;
}

.vocab-words {
  padding-top: 20px;
  padding-bottom: 50px;
  list-style-type: decimal;
}

.vocab-inner {
  display: flex;
  justify-content: center;
  font-size: 24px;

  span {
    font-weight: 600;
    padding-top: 20px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.548);
  }
}

button {
  width: 50px;
  background-color: var(#{--background-default});
  border: none;
  border-bottom: 1px solid rgba(170, 170, 170, 0.548);
  cursor: pointer;
}

.links {
  color: black;
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 30px;

  font-size: 20px;

  &:hover {
    background-color: rgba(249, 249, 249, 0.555);
  }
}

.btn {
  text-transform: uppercase;
  color: var(#{--textColor-default});
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #6c757d;
  border: 1px solid transparent;
  margin: 30px;

  &:hover {
    opacity: 0.95;
  }
}

.change-theme {
  background-color: var(#{--themeChanger-default});
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.delete {
  width: 50px;
  border: none;
  border-bottom: 1px solid rgba(170, 170, 170, 0.548);
  cursor: pointer;
  border-radius: 0;
  font-size: medium;
}
